.cart-dropdown-wrapper {
    position: relative;
    display: flex;

    .cart-dropdown-container {
        position: absolute;
        width: 240px;
        height: 340px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid black;
        background-color: white;
        top: 30px;
        right: -15px;
        z-index: 5;
        transition: 0.3s ease-in-out;

        .empty-message {
            font-size: 18px;
            margin: 50px auto;

        }

        .cart-items {
            height: 240px;
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

        }

        button {
            margin-top: auto;
        }
    }
}

@media only screen and (max-width: 1555px) {
    .cart-dropdown-container {
        margin: 0 20px;
        transition: 0.1s ease-in-out;
    }
}