nav {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        img {
            width: 100%;
        }
    }

    .nav-link {
        text-decoration: none;
        color: black;
        margin: 5px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            color: lighten($color: black, $amount: 40);
        }
    }
}