.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    max-width: 1400px;
    margin: auto;
}

.category-container-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1250px) {
    .category-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .category-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .category-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .category-container {
        grid-template-columns: repeat(1, 1fr);
    }
}