.sign-up-form {
    margin: 20px 40px;
    width: 333px;

    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
    }

    span {
        font-size: 18px;
    }
}