.cart-item-container {
    height: 90px;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;

    .image-div {
        // min-width: 70px;
        max-width: 70px;
        overflow: hidden;
        height: 90px;

        img {
            min-height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    .cart-item-details {
        text-align: start;
        margin-left: 10px;
    }
}